---
import { menuLinks } from "@/site-config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
 <div class="flex sm:flex-col">
  <a
   aria-current={url.pathname === "/" ? "page" : false}
   class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
   href="/"
  >
   <svg
    t="1725967360915"
    class="icon me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
    viewBox="0 0 1024 1024"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    p-id="11222"
    width="800"
    height="800"
   >
    <path d="M688 96H336c-8.84 0-16 7.16-16 16v16h384v-16c0-8.84-7.16-16-16-16zM283.58 951.15c2.71 5.42 8.25 8.85 14.31 8.85h428.22c6.06 0 11.6-3.42 14.31-8.85 8.81-17.62 15.48-36.14 20.1-55.15H263.48c4.62 19.01 11.29 37.54 20.1 55.15z" fill="#E6E6E6" p-id="11223"></path>
    <path d="M768 253.07c0-9.93-1.62-19.71-4.6-29.07H260.6c-2.98 9.36-4.6 19.14-4.6 29.07v581.27c0 20.85 2.59 41.54 7.48 61.67h497.04c4.89-20.13 7.48-40.81 7.48-61.67V253.07z" fill="#517EDB" p-id="11224"></path>
    <path d="M751.88 199.81L704 128H320l-47.88 71.81c-5.01 7.51-8.82 15.68-11.53 24.19h502.8c-2.69-8.51-6.51-16.68-11.51-24.19z" fill="#6591F0" p-id="11225"></path>
    <path d="M512 336c97.05 0 176 78.95 176 176s-78.95 176-176 176-176-78.95-176-176 78.95-176 176-176m0-16c-106.04 0-192 85.96-192 192s85.96 192 192 192 192-85.96 192-192-85.96-192-192-192z" fill="#F3F3F3" p-id="11226"></path>
    <path d="M649.36 430.18c0-10.31-0.45-20.2-1.27-29.75C615.81 361.1 566.84 336 512 336c-97.2 0-176 78.8-176 176 0 31.62 8.45 61.23 23.06 86.88 33.47-0.36 65.1-1.04 92.33-1.04 159.55 0 197.97-85.84 197.97-167.66z" fill="#FFFFFF" p-id="11227"></path>
    <path d="M612.97 367.98C584.37 347.89 549.6 336 512 336c-97.2 0-176 78.8-176 176 0 30.61 7.84 59.38 21.58 84.46 126.93-11.97 229.95-105.97 255.39-228.48z" fill="#DF7867" p-id="11228"></path>
   </svg>
   <span class="text-xl font-bold sm:text-2xl">学术可乐罐</span>
  </a>
  <nav
   aria-label="Main menu"
   class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
   id="navigation-menu"
  >
   {
    menuLinks.map((link) => (
     <a
      aria-current={url.pathname === link.path ? "page" : false}
      class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
      data-astro-prefetch
      href={link.path}
     >
      {link.title}
     </a>
    ))
   }
  </nav>
 </div>
 <Search />
 <ThemeToggle />
 <mobile-button>
  <button
   aria-expanded="false"
   aria-haspopup="menu"
   aria-label="Open main menu"
   class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
   id="toggle-navigation-menu"
   type="button"
  >
   <svg
    aria-hidden="true"
    class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
    fill="none"
    focusable="false"
    id="line-svg"
    stroke="currentColor"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
   >
    <path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
    ></path>
   </svg>
   <svg
    aria-hidden="true"
    class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
    class="text-accent"
    fill="none"
    focusable="false"
    id="cross-svg"
    stroke="currentColor"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
   >
    <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
   </svg>
  </button>
 </mobile-button>
</header>

<script>
 import { toggleClass } from "@/utils/domElement";

 class MobileNavBtn extends HTMLElement {
  #menuOpen: boolean = false;

  connectedCallback() {
   const headerEl = document.getElementById("main-header")!;
   const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

   mobileButtonEl?.addEventListener("click", () => {
    if (headerEl) toggleClass(headerEl, "menu-open");
    this.#menuOpen = !this.#menuOpen;
    mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
   });
  }
 }

 customElements.define("mobile-button", MobileNavBtn);
</script>
